.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container main {
  width: 556px;
  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 2rem;
  padding-top: 4.5rem;
  border-radius: .75rem;
}

.word {
  width: 100%;
  margin: 2.5rem 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.container main h4 {
  color: #32325f;
  font-size: 1.12rem;
  font-weight: 600;
}

.guess {
  display: flex;
  gap: .75rem;

  margin-top: .75rem;
}

@media (max-width: 425px) {
  :root {
    font-size: 14px;
  }

  .container main {
    width: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(-10px)
  }

  50% {
    transform: translateX(10px)
  }

  75% {
    transform: translateX(-10px)
  }

  100% {
    transform: translateX(0)
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}