.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container main {
  width: 556px;

  background-color: white;
  padding: 2rem;
  padding-top: 4.5rem;
  border-radius: .75rem;
}

.word {
  width: 100%;
  margin: 2.5rem 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}