.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  width: 100%;
  margin: 2.5rem 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}